
section {
    margin: 0 auto ;
    padding-top: 32px;
    font-size: 24px;
    background-color: pink ;
    opacity: 90%;

}
img {
    width: 30%;
    white-space:initial;
}
.celebra{
    width:6%;
}
